
<md-card style="font-family: 'Maven Pro', sans-serif;">
  <md-card-title-group>
    <md-card-title>Player card!</md-card-title>
    <button md-raised-button color="accent" (click)="openNewPlayerDialog()">New player</button>
  </md-card-title-group>
  <md-card-content>
    <md-list>
      <ng-container *ngFor="let item of players | async">
        <md-list-item>
          <img md-list-avatar src="{{item.Avatar}}"
               onerror="this.src='./assets/images/Unknown.png';">
          <p md-line><b>{{item.Name}}</b></p>
          <p md-line> Current Elo: {{item.Elo}}</p>
          <p md-line> Highest Elo: {{item.HighestElo}} </p>
          <button md-button (click)="deletePlayer(item)"><i class="material-icons">delete</i></button>
        </md-list-item>
        <md-divider></md-divider>
      </ng-container>
    </md-list>

  </md-card-content>

</md-card>
