
<md-card style="font-family: 'Maven Pro', sans-serif;">
  <md-card-title-group>
    <md-card-title>Player card!</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let item of players | async" >
        <img md-list-avatar src="{{item.Avatar}}"
             onerror="this.src='./images/Unknown.png';">
        <p md-line><b>{{item.Name}}</b></p>
        <p md-line> Current Elo: {{item.Elo}}</p>
        <p md-line> Highest Elo: {{item.HighestElo}} </p>
      </md-list-item>
    </md-list>

  </md-card-content>

</md-card>
