<md-card style="font-family: 'Maven Pro', sans-serif;">
  <md-card-title-group>
    <md-card-title>Log match</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <p>Log your played match here.</p>
    <form>
        <md-select style="margin-top: 1em; width: 70%" type="text"  placeholder="Select player 1" [(ngModel)]="selectedPlayer1" name="player1">
          <md-option *ngFor="let player of players | async" [value]="player">
            {{ player.Name }}
          </md-option>
        </md-select>
        <md-select style="margin-top: 2em;; width: 70%" type="text" placeholder="Select player 2" [(ngModel)]="selectedPlayer2" name="player2">
          <md-option *ngFor="let player of players | async" [value]="player" name="player2">
            {{ player.Name }}
          </md-option>
        </md-select>
    </form>

    <p style="margin-top: 23px">Select match winner</p>
    <md-radio-group >
      <md-radio-button style="margin-right:2em;" *ngFor="let winner of matchWinners" [value]="winner" (click)="selectedPlayerWon(winner)">{{winner}}</md-radio-button>
    </md-radio-group>
    <p>{{logMatchStatus}}</p>
  </md-card-content>

  <md-card-actions style="text-align: right;">
    <button md-button md-raised-button
            color="accent"
            (click)="logMatch()"
            style="margin-right: 1em; margin-bottom: 0.3em;">Log match
    </button>
  </md-card-actions>
</md-card>

