<md-card style="font-family: 'Maven Pro', sans-serif;">
  <md-card-title-group>
    <md-card-title>Log match card!</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <form>
      <md-input-container>
        <input type="text" mdInput [mdAutocomplete]="auto">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of players | async" [value]="option.Name">
          {{ option.Name }}
        </md-option>
      </md-autocomplete>
    </form>
  </md-card-content>

  <md-card-actions style="text-align: right;">
    <button md-raised-button
            color="accent"
            style="margin-right: 1em; margin-bottom: 0.3em;">Ok
    </button>
  </md-card-actions>
</md-card>

