<md-card style="font-family: 'Maven Pro', sans-serif" >
  <md-card-title-group>
    <md-card-title style="font-family: 'Maven Pro', sans-serif;">Top 3 players</md-card-title>
  </md-card-title-group>
  <md-card-content >
    <p> The current top 3 players of table tennis!</p>
    <md-list>
      <md-list-item *ngFor="let item of items | async | reverse; let i = index" [attr.data-index]="i">
        <img md-list-avatar  *ngIf="i == 0" src="{{ GOLDMEDAL }}"
             onerror="this.src='./assets/images/Unknown.png';">
        <img md-list-avatar *ngIf="i == 1" src="{{ SILVERMEDAL }}"
             onerror="this.src='./assets/images/Unknown.png';">
        <img md-list-avatar *ngIf="i == 2" src="{{ BRONZEMEDAL }}"
             onerror="this.src='./assets/images/Unknown.png';">
        <p md-line><b>{{ item.Name }}</b></p>
        <p md-line>{{ item.Elo }}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
