<md-card style="font-family: 'Maven Pro', sans-serif;" >
  <md-card-title-group>
    <md-card-title style="font-family: 'Maven Pro', sans-serif;">Top 3 players</md-card-title>
  </md-card-title-group>
  <md-card-content >
    <div >
      <p><img style="float: left" [src]="GOLDMEDAL"  width="64" height="64"/>
        <b>Martin Carpentier</b> <br> 1260</p>
    </div>
    <div style="margin-top: 3em;">
      <p><img [src]="SILVERMEDAL" style="float: left" width="64" height="64" />
        <b>Jens Arnfast</b> <br> 1260</p>
    </div>
    <div style="margin-bottom: 2em; margin-top:3em">
      <p><img style="float: left;" [src]="BRONZEMEDAL" width="64" height="64"/>
        <b>Mike Nabi</b> <br> 1260</p>
    </div>
  </md-card-content>
</md-card>

