<h1 md-dialog-title>Create a new player</h1>
<form (ngSubmit)="saveDialog()" #newPlayerForm="ngForm">
  <div md-dialog-content>

    <md-input-container>
      <input mdInput placeholder="Player name" [(ngModel)]="playerName" name="playerName" required>
    </md-input-container>
    <div class="center-images">
      <img class="img-circle center-image" src="{{avatarUrl}}"
           onerror="this.src='./assets/images/Unknown.png';">
    </div>
    <div>
      <md-input-container class="row">
        <input mdInput placeholder="Avatar url" [(ngModel)]="avatarUrl" name="avatarUrl">
      </md-input-container>
    </div>
  </div>
  <md-dialog-actions style="float:right">
    <button md-button md-raised-button color="accent" type="submit" [disabled]="!newPlayerForm.form.valid">Save</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button md-raised-button color="accent" style="margin-left: 1em;" (click)="closeDialog()">Cancel</button>
  </md-dialog-actions>
</form>
